@import './conf.css';

.aside-nav {
    min-width: 240px;
    height: 100%;
    background: #FFFFFF;
    border-right: 1px solid #dde4eb;
    .nav-title {
        height: 50px;
        line-height: 50px;
        padding: 0 8px;
        margin: 0;
        font-size: 14px;
        color: #313328;
        font-weight: normal;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #dde4eb;
        .bk-icon {
            font-size: 34px;
            margin-right: 4px;
            cursor: pointer;
            &:hover {
                color: #3a84ff;
            }
        }
    }
    .nav-item {
        position: relative;
        line-height: 40px;
        height: 40px;
        cursor: pointer;
        font-size: 14px;
        display: flex;
        align-items: center;
        &.active {
            background: #e0ecff;
            color: #3c96ff;
            &:after {
                content: '';
                height: 40px;
                width: 3px;
                position: absolute;
                left: 0;
                background: #3c96ff;
            }
        }
        svg {
            margin: 0 16px 0 18px;
        }
    }
}

.warning {
    color: $warningColor;
}
.danger {
    color: $dangerColor;
}
.success {
    color: $successColor;
}

.update-btn {
    color: #3a84ff;
    margin-right: 15px;
    display: inline-block;
    cursor: pointer;
    &.disabled {
        cursor: not-allowed;
        color: #c4c6cc;
    }
}